# Ignore nginx build setup
nginx-*/Makefile
nginx-*/objs

# Ignore nginx build results
# Not ignore build results to demonstrate how configuration changes during proxy setup
# build/

# Ignore vim swap files
*.swp
*.swo

# Ignore Sublime Text files
*.sublime-workspace

# Ignore Konqueror files
.directory
